version: '3.8'

services:
  kizuna:
    build:
      context: .
      dockerfile: Dockerfile

    image: kizuna
    container_name: kizuna
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "3002:3000"