@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "forest";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #151f2e;
  --color-base-200: #0b1622; 
  --color-base-300: #0b1622;
  --color-base-content: #9fadbd;
  --color-primary: #1fb3ff;
  --color-primary-content: #cdd5f2;
  --color-secondary: #58bff4;
  --color-secondary-content: #d9edfb;
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: #151f2e;
  --color-neutral-content: #9fadbd;
  --color-info: #3db4f2;
  --color-info-content: #d3eefc;
  --color-success: #ec294b;
  --color-success-content: #FFFFFF;
  --color-warning: #f7bf63;
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: #e85d75;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "winter";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #fafafa; 
  --color-base-200: #edf1f5;
  --color-base-300: #edf1f5;
  --color-base-content: #5c728a;
  --color-primary: #1fb3ff;
  --color-primary-content: #cdd5f2;
  --color-secondary: #58bff4;
  --color-secondary-content: #d9edfb;
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: #151f2e;
  --color-neutral-content: #9fadbd;
  --color-info: #3db4f2;
  --color-info-content: #d3eefc;
  --color-success: #ec294b;
  --color-success-content: #FFFFFF;
  --color-warning: #f7bf63;
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: #e85d75;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}